.DS_Store
Thumbs.db
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp
*.swo
.vscode/
.idea/
tmp/
temp/

frontend/mide-app/node_modules/
frontend/mide-app/.env.production
frontend/mide-app/build/
frontend/mide-app/dist/
frontend/mide-app/.pnp
frontend/mide-app/.pnp.js
frontend/mide-app/coverage/
frontend/mide-app/.npm
frontend/mide-app/.eslintcache
frontend/mide-app/.node_repl_history
frontend/mide-app/*.tgz
frontend/mide-app/npm-debug.log*
frontend/mide-app/yarn-debug.log*
frontend/mide-app/yarn-error.log*

backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
.Python
backend/build/
backend/dist/
backend/venv/
backend/.venv/
backend/env/
backend/.env
backend/.env.production
backend/docker-compose.yml
*.pyc
__pycache__/

backend/*.db
backend/*.sqlite3
backend/uploads/